body {
  background-color: rgb(240, 240, 240);
}

.wrapper {
  .video-feeds {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    iframe,
    video {
      flex: 1;
      height: 33vh;
      //   min-width: 600px;
      // height: 300px;
      // min-width: 200px;
    }
  }

  .controls {
    display: flex;
    width: fit-content;
    margin: 2rem auto;
    border-radius: 5px;
    padding: 1rem;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 2px 2px 60px 1px #fff;

    .call,
    .input-wrapper {
      display: flex;
      margin: 0.5rem 2rem;
    }

    .input-wrapper {
      display: flex;
      align-items: center;
      background-color: #eee;
      box-shadow: none;
      border-radius: 5px;
      height: 2.5rem;

      //   box-shadow: 2px 2px 20px 5px #eee;
      #callInput {
        border-radius: 5px;
        border: none;
        margin: 0 0.2rem;
        box-shadow: none;
        background-color: transparent;
        :focus {
          outline: none;
          box-shadow: none;
        }
      }
      #copyButton {
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
        background-color: rgb(201, 201, 201);
      }
    }
  }
}

// button:hover {
//   transition-property: background-color, color;
//   transition-duration: 0.2s;
//   background-color: #000 !important;
//   color: #fff;
// }
